.page-experience .m_only {
  display: none;
}
.page-experience #overview figure img {
  border-radius: 0;
}
.page-experience .featured-wrap h3 {
  color: #000;
  padding: 2.8rem 0 0 0;
}
.page-experience .featured-wrap figure {
  max-width: 56rem;
  width: 46vw;
}
.page-experience .featured-wrap .feature-title-2 {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 0 3.6rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
.page-experience .featured-wrap .feature-title-2.even {
  align-items: flex-end;
  height: 51rem;
}
.page-experience .featured-wrap .feature-title-2 p.highContrastTarget {
  color: #757575;
  max-width: 56rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  width: 44vw;
  padding: 11.3rem 0 0 3.9rem;
}
.page-experience .featured-wrap .feature-title-2 figure:nth-of-type(2) {
  margin: -8rem 0 0 0;
}
.page-experience .sec_featured.featured-black.add-black .inner {
  padding: 0;
}
.page-experience .sec_featured.featured-black.add-black figure {
  max-width: 115.6rem;
}
.page-experience .sec_featured.featured-black.add-black .photobooth {
  height: 84.2rem;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 12rem 0 0 0;
  position: relative;
}
.page-experience .sec_featured.featured-black.add-black .photobooth * {
  float: left;
}
.page-experience .sec_featured.featured-black.add-black .photobooth figure {
  max-width: 43.2692307692vw;
}
.page-experience .sec_featured.featured-black.add-black .photobooth h3 {
  font-family: SamsungSharpSans;
  font-size: 54px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  margin: 8rem 0 0 12rem;
}
.page-experience .sec_featured.featured-black.add-black .photobooth p {
  font-family: SamsungOne;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #f8f8f8;
  margin: 4.8rem 0 0 12rem;
}
.page-experience .sec_featured.how-big-wrap .bg-wrap {
  position: relative;
}
.page-experience .sec_featured.how-big-wrap .bg-wrap figure img {
  border-radius: 0 !important;
}
.page-experience .sec_featured.how-big-wrap .bg-wrap h3 {
  max-width: 1156px;
  margin: 0 auto;
  color: #fff;
  padding: 0 23px;
  top: -31.8rem;
  display: block;
  position: relative;
}
.page-experience .sec_featured.look-up-wrap .first-lookUp,
.page-experience .sec_featured.look-up-wrap .second-lookUp {
  margin: 0 auto;
  flex-flow: wrap;
  display: flex;
  justify-content: space-between;
  max-width: 1156px;
  margin: 0 auto;
  gap: 24px;
}
.page-experience .sec_featured.look-up-wrap .first-lookUp .responsiveImg-txt-wrap {
  max-width: 68.4rem;
  width: 57vw;
  padding: 13rem 0 0 7rem;
  font-family: SamsungOne;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #757575;
}
.page-experience .sec_featured.look-up-wrap .first-lookUp figure:first-child {
  max-width: 68.4rem;
  width: 57vw;
}
.page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(3) {
  max-width: 44.8rem;
  width: 37vw;
}
.page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(2) {
  max-width: 44.8rem;
  width: 37vw;
}
.page-experience .sec_featured.look-up-wrap .visible-div {
  width: 44.7rem;
}
.page-experience .sec_featured.look-up-wrap .second-lookUp {
  display: flex;
  align-items: center;
  gap: 0 2.3rem;
}
.page-experience .sec_featured.look-up-wrap .second-lookUp figure {
  min-width: 44.8rem;
  margin: 24px 0 0 0;
}
.page-experience .sec_featured.look-up-wrap .second-lookUp p {
  color: #757575;
  padding: 0 0 0 5.7rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.page-experience .sec_featured.look-up-wrap .second-lookUp .visible-div {
  min-width: 44.8rem;
}
.page-experience .detailedImages {
  background-color: #f1f1f1;
  margin: 16rem 0 0 0;
  padding: 10.2rem 0 10rem 0;
}
.page-experience .detailedImages h3 {
  font-size: 5.7rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.page-experience .detailedImages p {
  margin: 4.8rem 0 0 0;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.page-experience .last-section {
  padding: 10rem 0 0 0;
}
.page-experience .last-section h3 {
  width: 100vw;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.page-experience .last-section div.flex-wrap {
  display: flex;
  max-width: 1156px;
  justify-content: space-between;
  margin: 8rem auto 0;
  padding: 0 0 16rem 0;
  flex-flow: wrap;
}
.page-experience .last-section div.flex-wrap figure {
  position: relative;
  max-width: 37rem;
  width: calc((100vw - 30px) / 3);
}
.page-experience .last-section div.flex-wrap figure figcaption {
  position: absolute;
  color: #fff;
  display: block;
  position: absolute;
  top: 32px;
  left: 34px;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 1220px) and (min-width: 768px) {
  .page-experience .sec_featured.look-up-wrap .first-lookUp {
    gap: 14px;
    box-sizing: border-box;
    width: calc(100vw - 6.8rem);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:first-child {
    width: calc(54.1666666667vw - 1rem);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(2) {
    width: calc(35.6770833333vw - 1rem);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(3) {
    width: calc(37.7604166667vw - 1rem);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:last-child {
    width: calc(58.0729166667vw - 2rem);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp .responsiveImg-txt-wrap {
    width: calc(58.0729166667vw - 3rem);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp .visible-div {
    width: calc(35.6770833333vw - 1rem);
  }
  .page-experience .sec_featured.featured-black.add-black figure {
    width: calc(100vw - 6.4rem);
    margin: 0 auto;
  }
  .page-experience .sec_featured.featured-black.add-black .photobooth {
    width: calc(100vw - 6.4rem);
    margin: 6rem auto 0;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1156px) {
  .page-experience .sec_featured.look-up-wrap .first-lookUp .responsiveImg-txt-wrap {
    padding: 8rem 0 0 0;
  }
}
@media screen and (max-width: 1024px) {
  .page-experience .last-section {
    margin: 0 auto;
  }
  .page-experience .last-section div.flex-wrap figure {
    min-width: 34rem;
    width: 45vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .page-experience .sec_featured.featured-black.add-black .photobooth figure {
    max-width: 32.8rem;
  }
  .page-experience .sec_featured.featured-black.add-black .photobooth h3 {
    font-family: SamsungSharpSans;
    font-size: 4.2rem;
    margin: 8rem 0 0 4.5rem;
  }
  .page-experience .sec_featured.featured-black.add-black .photobooth p {
    font-size: 15px;
    margin: 3.2rem 0 0 2.2rem;
  }
}
@media screen and (max-width: 1024px) {
  [class*=page-] [class^=sec_] > .inner {
    padding: 8rem 3.2rem 16rem;
  }
  .page-experience .featured-wrap .feature-title-2 {
    gap: 0 6.7rem;
  }
  .page-experience .featured-wrap .feature-title-2 figure {
    max-width: 32rem;
    width: vw;
  }
  .page-experience .featured-wrap .feature-title-2 figure:nth-of-type(2) {
    margin: 5.3rem 0 0 0;
  }
  .page-experience .featured-wrap .feature-title-2 .detailedImages {
    padding: 6rem 0 6rem;
  }
  .page-experience .featured-wrap .feature-title-2 h3 {
    width: 35vw;
    font-family: SamsungSharpSans;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .page-experience .featured-wrap .feature-title-2 p.highContrastTarget {
    width: 41vw;
    padding: 11.3rem 0 0 0;
    font-family: SamsungOne-400C;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    max-width: 32rem;
  }
  .page-experience .featured-wrap .feature-title-2 div.last-section {
    padding: 6rem 0 12rem 0;
  }
  .page-experience .featured-wrap .feature-title-2 div.last-section .flex-wrap {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 88px);
    margin: 0 auto 24px;
    gap: 24px;
  }
  .page-experience .featured-wrap .feature-title-2 div.last-section .flex-wrap h3 {
    width: 50vw;
    text-align: left;
    font-size: 34.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
  }
  .page-experience .kv {
    margin-bottom: 0;
  }
  .page-experience #overview figure img {
    border-radius: 0 !important;
  }
  .page-experience .last-section {
    width: calc(100vw - 6.8rem);
  }
  .page-experience .last-section h3 {
    width: 45vw;
    text-align: left;
  }
  .page-experience .sec_featured.how-big-wrap .bg-wrap h3 {
    max-width: 100vw;
    top: auto;
    bottom: 20rem;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp {
    gap: 14px;
    width: calc(100vw - 64px);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:first-child {
    width: calc(58.0729166667vw - 30px);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(2) {
    width: 35.6770833333vw;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(3) {
    width: 35.6770833333vw;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:last-child {
    width: calc(58.0729166667vw - 30px);
    margin: 0;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp .responsiveImg-txt-wrap {
    width: calc(58.0729166667vw - 3rem);
    padding: 4.5rem 0 0 2rem;
    padding-top: 3.1510416667vw;
    font-family: SamsungOne;
    font-size: 15px;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp .visible-div {
    width: 0.2604166667vw;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp {
    max-width: 100vw;
    width: calc(100vw - 64px);
    gap: 34px;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp p {
    padding: 0;
    font-family: SamsungOne-400C;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #757575;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp figure {
    min-width: 41.8rem;
    max-width: 41.8rem;
    width: 41.8rem;
    margin: 0;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp figure:first-child {
    min-width: 24.7rem;
    max-width: 24.7rem;
    width: 24.7rem;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp .visible-div {
    width: 0;
    min-width: 24.7%;
  }
  .page-experience .sec_featured .sec_introduction .inner {
    padding: 12rem 3.2rem;
  }
  .page-experience .sec_featured .sec_introduction h2 {
    padding: 0;
  }
  .page-experience .sec_featured .sec_introduction article {
    margin-top: 4rem;
    max-width: 50vw;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  [class*=page-] [class^=sec_] > .inner:first-child {
    padding: 8.3rem 3.2rem 0;
  }
  .page-experience .featured-wrap * {
    width: auto;
  }
  .page-experience .featured-wrap h3 {
    padding: 0;
  }
  .page-experience .featured-wrap figure {
    width: 3.2rem;
  }
  .page-experience .featured-wrap p.highContrastTarget {
    padding: 5.9rem 0 5.78rem 0;
    font-family: SamsungOne-400C;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #757575;
  }
  .page-experience .kv {
    margin-bottom: 0;
  }
  .page-experience #overview figure img {
    border-radius: 0 !important;
  }
  .page-experience .sec_featured.how-big-wrap .bg-wrap h3 {
    max-width: 100vw;
    top: auto;
    bottom: 3.2rem;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp {
    gap: 12px;
    width: calc(100vw - 4.8rem);
    padding: 4.8rem 0 0 0;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:first-child {
    width: 100vw;
    max-width: 76.7rem;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(2), .page-experience .sec_featured.look-up-wrap .first-lookUp figure:nth-child(3) {
    width: calc(50vw - 2.4rem - 0.6rem);
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp figure:last-child {
    width: calc(100vw - 4.8rem);
    margin: 0;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp .responsiveImg-txt-wrap {
    width: calc(100vw - 6.8rem);
    padding: 1rem 0;
    margin: 0 auto;
    font-family: SamsungOne;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #757575;
  }
  .page-experience .sec_featured.look-up-wrap .first-lookUp .visible-div {
    width: calc(35.6770833333vw - 1rem);
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp {
    max-width: 100vw;
    width: calc(100vw - 64px);
    gap: 34px;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp p {
    padding: 0;
    font-family: SamsungOne-400C;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #757575;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp figure {
    min-width: 41.8rem;
    max-width: 41.8rem;
    width: 41.8rem;
    margin: 0;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp figure:first-child {
    min-width: 24.7rem;
    max-width: 24.7rem;
    width: 24.7rem;
  }
  .page-experience .sec_featured.look-up-wrap .second-lookUp .visible-div {
    width: 0;
    min-width: 24.7%;
  }
  .page-experience .sec_introduction .inner {
    padding: 8rem 2.4rem 9.6rem;
  }
  .page-experience .sec_introduction h2 {
    padding: 0;
  }
  .page-experience .sec_introduction article {
    margin-top: 5.6rem;
    max-width: 68.3vw;
    padding: 0;
  }
  .page-experience .featured-wrap figure {
    text-align: none !important;
    min-width: 32rem;
  }
  .page-experience .featured-wrap figure img {
    height: 38rem;
  }
  .page-experience .featured-wrap .feature-title-2 {
    gap: 8px;
  }
  .page-experience .featured-wrap .feature-title-2 h3 {
    width: calc(100vw - 48px);
    font-size: 2.8rem;
  }
  .page-experience .featured-wrap .feature-title-2 > figure {
    min-width: calc((100vw - 48px - 24px) / 2);
  }
  .page-experience .featured-wrap .feature-title-2 > figure picture {
    height: auto;
  }
  .page-experience .featured-wrap .feature-title-2 > figure picture img {
    height: auto;
  }
  .page-experience .featured-wrap .feature-title-2 > figure:nth-of-type(2) {
    margin: 0;
  }
  .page-experience .featured-wrap .feature-title-2 p.highContrastTarget {
    min-width: calc(100vw - 68px);
    padding: 2.4rem 0 0 0;
    font-family: SamsungOne-400C;
    font-size: 1.4rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #757575;
  }
  .page-experience .detailedImages {
    padding: 6rem 0 6rem;
    margin: 8rem 0 0 0;
  }
  .page-experience .detailedImages h3 {
    font-family: SamsungSharpSans;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
  .page-experience .detailedImages p {
    font-family: SamsungOne-400C;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
  .page-experience .last-section {
    padding: 6rem 0 12rem 0;
  }
  .page-experience .last-section div.flex-wrap {
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 88px);
    margin: 0 auto 24px;
    gap: 24px;
  }
  .page-experience .last-section div.flex-wrap figure {
    width: calc(100vw - 4.8rem);
    min-width: calc(100vw - 4.8rem);
    max-width: calc(100vw - 4.8rem);
  }
  .page-experience .last-section div.flex-wrap figure picture {
    width: calc(100vw - 6.8rem);
  }
  .page-experience .last-section div.flex-wrap figure picture img {
    width: 100%;
  }
  .page-experience .last-section div.flex-wrap h3 {
    width: 45vw;
    text-align: left;
    font-size: 34.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
  }
  .page-experience .sec_featured.featured-black.add-black figure {
    width: calc(100vw - 4.8rem);
    margin: 14rem auto 0;
  }
  .page-experience .sec_featured.featured-black.add-black .photobooth {
    margin: 0;
    height: 72rem;
  }
  .page-experience .sec_featured.featured-black.add-black .photobooth figure {
    margin: 19rem 2.4rem 0 0;
    float: right;
    min-width: 20.8rem;
  }
  .page-experience .sec_featured.featured-black.add-black .photobooth h3 {
    font-size: 28px;
    position: absolute;
    margin: 2.5rem 0 0 2.3rem;
    max-width: 20.6rem;
  }
  .page-experience .sec_featured.featured-black.add-black .photobooth p {
    font-size: 1.4rem;
    margin: 2.4rem 3.4rem 0;
  }
}
.pc_only {
  display: block;
}

.ta_only,
.m_only {
  display: none;
}

@media screen and (max-width: 1023px) {
  .ta_only {
    display: block;
  }
  .pc_only,
.m_only {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .m_only {
    display: block !important;
  }
  .pc_only,
.ta_only {
    display: none;
  }
}/*# sourceMappingURL=new.css.map */