// PC

.#{$component-name} {
  text-align: center;
  color: #fff;
  background-color: $black;

  &.whiteColor {
    background-color: $calcite;
    * {
      //color: $black;
    }

    .whiteText {
      .#{$component-name}__card-item-desc-title {
        color: $calcite !important;
      }

      .#{$component-name}__card-item-desc-eyebrow {
        color: $calcite !important;
      }

      .#{$component-name}__card-item-desc-text {
        color: #fff !important;
      }
    }

    .#{$component-name}__tab-text {
      color: $black !important;
    }

    .#{$component-name}__sns__btn-facebook {
      background-image: rawcode-iurl('icon/icon-share-facebook-white.svg');
    }
    .#{$component-name}__sns__btn-twitter {
      background-image: rawcode-iurl('icon/icon-share-twitter-white.svg');
    }
    .#{$component-name}__sns__btn-in {
      background-image: rawcode-iurl('icon/icon-share-linked-in-white.svg');
    }
    .#{$component-name}__sns__btn-mail {
      background-image: rawcode-iurl('icon/icon-share-mail-white.svg');
    }
    .#{$component-name}__sns__btn-link {
      background-image: rawcode-iurl('icon/icon-share-link-white.svg');
    }
  }

  .#{$component-name}__headline {
    padding-top: 140px;
    margin-bottom: 48px;
    @include PDSpecification;
    color: #000;
  }

  .#{$component-name}__sns {
    margin-bottom: 80px - 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    @supports (gap: 0 12px) {
      gap: 0 12px;
    }

    dd {
      flex: 0 0 auto;
      margin-right: 12px;

      > * {
        display: block;
        width: 32px;
        height: 32px;
        background: {
          position: center;
          size: 100%;
          repeat: no-repeat;
        }

        &*:last-child {
          margin-right: 0;
        }
      }

      @supports (gap: 0 12px) {
        margin: 0;
      }
    }
  }

  .#{$component-name}__sns__btn-facebook {
    background-image: rawcode-iurl('icon/icon-share-facebook.svg');
  }
  .#{$component-name}__sns__btn-twitter {
    background-image: rawcode-iurl('icon/icon-share-twitter.svg');
  }
  .#{$component-name}__sns__btn-in {
    background-image: rawcode-iurl('icon/icon-share-linked-in.svg');
  }
  .#{$component-name}__sns__btn-mail {
    background-image: rawcode-iurl('icon/icon-share-mail.svg');
  }
  .#{$component-name}__sns__btn-link {
    background-image: rawcode-iurl('icon/icon-share-link.svg');
  }

  .#{$component-name}__tab {
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto 80px;
    //-ms-overflow-style: none;
    //font-size: 0;
    //white-space: nowrap;
  }
  .#{$component-name}__tab-list {
    text-align: center;
    overflow-x: auto;
    max-width: 100%;
    width: auto;
    font-size: 0;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;

    &::-webkit-scrollbar {
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background-color: $grayscale-4-8-f;
    }
  }

  .#{$component-name}__tab-item {
    width: 140px;
    display: inline-block;
  }

  .#{$component-name}__tab-text {
    display: block;
    @include underline-btn;
    width: 100%;
  }

  .#{$component-name}__card {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 24px 140px 24px;
  }

  .#{$component-name}__card-wrap {
    position: relative;
    display: flex;
    margin: 0 0 -24px -24px;

    &.card-3-Type1 {
      .#{$component-name}__card-item-thum {
        padding-bottom: 142.9%;
      }
    }

    &.card-3-Type2 {
      display: block;
      padding-left: calc(50% + 12px);

      .#{$component-name}__card-item {
        width: calc(50% - 24px);
        flex: 0 1 calc(50% - 24px);
        -ms-flex-preferred-size: calc(50% - 24px);

        &:hover {
          .#{$component-name}__card-item-thum {
            img {
              transform: scale(1.05);
            }
          }
        }

        &:nth-of-type(1) {
          position: absolute;
          top: 0;
          left: 0;
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          width: calc(100% - 24px);
          flex: 0 1 calc(100% - 24px);
          -ms-flex-preferred-size: calc(100% - 24px);

          .#{$component-name}__card-item-desc {
            max-width: 243px;
            left: auto;
            bottom: 50%;
            right: 40px;
            transform: translateY(50%);
            text-align: left;
          }
        }
        .#{$component-name}__card-item-thum {
          padding-bottom: 0;

          img {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            max-width: none;
            width: 100%;
            transform-origin: 50% 50%;
            transform: scale(1);
            transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
          }
        }
      }
    }

    &.card-4-Type {
      padding-left: calc(50% + 12px);
      flex-wrap: wrap;

      .#{$component-name}__card-item {
        flex: 0 1 calc(50% - 24px);
        -ms-flex-preferred-size: calc(50% - 24px);

        &:nth-child(1) {
          width: calc(50% - 24px);
          position: absolute;
          top: 0;
          left: 0;
          .#{$component-name}__card-item-thum {
            padding-bottom: calc(100% - 32px);
          }
        }
        &:nth-child(2) {
          flex-basis: 100%;
          .#{$component-name}__card-item-thum {
            padding-bottom: calc(50% - 28px);
          }
        }
      }
      .#{$component-name}__card-item-thum {
        padding-bottom: calc(100% - 16px);
      }
    }
    &.card-movie {
      .card-movie-playbtn {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transformPlaceItem($x: -50%, $y: -50%);
        margin-top: -16px;
        display: block;

        &:after {
          content: '';
          display: inline-block;
          background-image: rawcode-iurl('icon/icon-play.svg');
          background-size: 100% 100%;
          @include size(80px);
          z-index: 1;
        }
      }
      &:nth-child(1) {
        .card-movie-playbtn {
          margin-top: 0;
        }
      }
    }
    &.card-textbox1 {
      .#{$component-name}__card-item {
        &:nth-child(3),
        &:nth-child(4) {
          .#{$component-name}__card-item-desc-title {
            font-size: 2.4rem;
          }
        }
      }
    }
    &.card-textbox2 {
      .#{$component-name}__card-item-desc-eyebrow {
        margin-top: 0;
        margin-bottom: 4px;
      }
      .#{$component-name}__card-item {
        &:nth-child(2) {
          .#{$component-name}__card-item-desc-box {
            padding: 0 32px 24px 32px;
          }
          .#{$component-name}__card-item-desc-title {
            letter-spacing: 0.89px;
          }
        }
        &:nth-child(3),
        &:nth-child(4) {
          .#{$component-name}__card-item-desc-box {
            padding: 0 24px 24px 24px;
          }
          .#{$component-name}__card-item-desc-title {
            font-size: 1.8rem;
            letter-spacing: 0.5px;
          }
        }
      }
    }
    &.card-textbox3 {
      .#{$component-name}__card-item {
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          .#{$component-name}__card-item-desc-title {
            font-size: 2.4rem;
          }
        }
      }
    }

    &.card-5-Type {
      padding-left: calc(50% + 12px);
      flex-wrap: wrap;

      .#{$component-name}__card-item {
        flex: 0 1 calc(50% - 24px);
        -ms-flex-preferred-size: calc(50% - 24px);

        &:nth-child(1) {
          width: calc(50% - 24px);
          position: absolute;
          top: 0;
          left: 0;
          .#{$component-name}__card-item-thum {
            padding-bottom: calc(100% - 32px);
          }
        }
      }
      .#{$component-name}__card-item-thum {
        padding-bottom: calc(100% - 16px);
      }
    }

    &.card-6-Type {
      flex-wrap: wrap;
      .#{$component-name}__card-item-thum {
        padding-bottom: calc(100% - 16px);
      }

      .#{$component-name}__card-item {
        flex: 0 1 calc(25% - 24px);
        -ms-flex-preferred-size: calc(25% - 24px);

        &:nth-child(4) {
          order: 6;
        }
        &:nth-child(5) {
          order: 5;
        }
        &:nth-child(6) {
          order: 4;
        }

        &:nth-child(1),
        &:nth-child(4) {
          flex: 0 1 calc(50% - 24px);
          -ms-flex-preferred-size: calc(50% - 24px);
          // flex-basis: calc(50% - 24px);
          .#{$component-name}__card-item-thum {
            padding-bottom: calc(50% - 28px);
          }
        }
      }
    }

    &.card-7-Type {
      flex-wrap: wrap;
      .#{$component-name}__card-item-thum {
        padding-bottom: calc(100% - 16px);
      }

      .#{$component-name}__card-item {
        flex: 0 1 calc(25% - 24px);
        -ms-flex-preferred-size: calc(25% - 24px);

        &:nth-child(1) {
          flex: 0 1 calc(50% - 24px);
          -ms-flex-preferred-size: calc(50% - 24px);
          .#{$component-name}__card-item-thum {
            padding-bottom: calc(50% - 28px);
          }
        }
      }
    }

    &.card-8-Type {
      flex-wrap: wrap;
      .#{$component-name}__card-item-thum {
        padding-bottom: calc(100% - 16px);
      }

      .#{$component-name}__card-item {
        flex: 0 1 calc(25% - 24px);
        -ms-flex-preferred-size: calc(25% - 24px);
      }
    }
  }

  .#{$component-name}__card-item {
    flex: 0 1 calc(33.333% - 24px);
    -ms-flex-preferred-size: calc(33.333% - 24px);
    position: relative;
    margin: 0 0 24px 24px;
    overflow: hidden;
  }

  .#{$component-name}__card-item-thum {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
    border-radius: 20px;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      //max-width: none;
      transform-origin: 50% 50%;
      transform: scale(1);
      transition: transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s, -webkit-transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  .#{$component-name}__card-item-desc {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .#{$component-name}__card-item-desc-box {
    padding: 0 0 28px 0;
    display: block;
  }
  .#{$component-name}__card-item-desc-title {
    @include PDSpecification;
    //@include ellipsis;
    font-size: 2.4rem;
    > span {
      display: inline-block;
      font-family: 'Samsung Sharp Sans';
      font-weight: bold;
      font-size: inherit;
      @include tablet {
        font-size: inherit;
      }
      @include mobile {
        font-size: inherit;
      }
    }

    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.6rem;
    }
  }
  .#{$component-name}__card-item-desc-eyebrow {
    @include Disclaimer;
    //@include ellipsis;
    margin-top: 16px;
  }
  .#{$component-name}__card-item-desc-text {
    @include ContentTitle2(title);
    font-size: 1.6rem;
    color: #555;
    //@include ellipsis;
    margin-top: 8px;
    @include tablet {
      font-size: 1.4rem;
    }
    @include mobile {
      font-size: 1.2rem;
    }
  }

  .#{$component-name}__learnmore-btn {
    @include outline-btn;
    &.dark-bg {
      color: #fff !important;
    }
  }

  .#{$component-name}__popup-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
  }
  .#{$component-name}__popup-video video,
  .#{$component-name}__popup-video iframe,
  .#{$component-name}__popup-video object,
  .#{$component-name}__popup-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .#{$component-name}__popup {
    &[aria-hidden='true'] {
      display: none;
    }
    &[aria-hidden='false'] {
      display: flex;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $etc-scrim-90;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 72px;

    @include tablet {
      padding: 0;
    }

    .btnPlayVideoClose {
      position: absolute;
      top: 24px;
      right: 24px;
      @include size(36px);
      background: rawcode-iurl('icon/icon-regular-action-cancel-close.svg') no-repeat center / 100%;
      @include tablet {
        @include size(24px);
      }
    }

    .#{$component-name}__popup-con {
      position: relative;
      width: 100%;
      max-width: 1440px;

      .#{$component-name}__popup-video {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
      }
      .#{$component-name}__popup-video video,
      .#{$component-name}__popup-video iframe,
      .#{$component-name}__popup-video object,
      .#{$component-name}__popup-video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .#{$component-name}__summary {
    padding: 140px 0 96px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    background: #000;
    .#{$component-name}__summary-eyebrow {
      font-size: 16px;
      font-family: $samsungSharpSans, sans-serif;
      font-weight: 700;
      line-height: 1.43;
    }

    .#{$component-name}__summary-title {
      margin-top: 8px;
      font-family: $samsungSharpSans, sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 1.41;
    }

    .#{$component-name}__summary-content {
      margin-top: 8px;
      font-family: $samsungOne, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.43;
    }
  }
}
